{
  "stage": 0,
  "loose": [
    "all"
  ],
  "plugins": [
    "external-helpers"
  ],
  "blacklist": [
    "es6.tailCall",
    "es6.forOf",
    "es7.trailingFunctionCommas",
    "es7.comprehensions",
    "es7.exportExtensions"
  ],

  "extra": {
    "externalHelperPlugin": {
      "path": "utils/babelHelpers",
      "base": "./src"
    }
  }
}
