{
  "presets": [
    [
      "jason",
      {
        "debug": false
      }
    ]
  ],
  "env": {
    "test": {
      "sourceMaps": "inline",
      "presets": [
        [
          "jason",
          {
            "debug": true,
            "target": "node",
            "targets": { "node": "current" }
          }
        ]
      ]
    }
  }
}
