{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "globals": {
    "sinon": true,
    "expect": true,
    "TestHelpers": true,
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
  },
  "rules": {
    "eqeqeq": 0,
    "no-loop-func": 0,
    "comma-dangle": 0,
    "no-eval": 2,
    "strict": 0,
    "eol-last": 0,
    "dot-notation": [2, { "allowKeywords": true }],
    "semi": [0, "never"],
    "curly": 0,
    "no-undef": 2,
    "quotes": [2, "single", "avoid-escape"],
    "no-trailing-spaces": 0,
    "no-underscore-dangle": 0,
    "no-multi-spaces": 0,
    "no-unused-expressions": 0,
    "no-unused-vars": [2, {"vars": "all", "args": "after-used"}],
    "no-use-before-define": 0,
    "key-spacing": 0,
    "consistent-return": 0,
    "no-shadow": 0,
    "no-sequences": 0
  }
}
