{
  "extends": ["jason", "prettier"],
  "env": {
    "browser": true
  },
  "parserOptions": {
    "requireConfigFile": false
  },
  "rules": {
    "@typescript-eslint/no-shadow": "off",
    "@typescript-eslint/no-empty-interface": "off"
  },
  "overrides": [
    {
      "files": ["test/**"],
      "plugins": ["jest"],
      "env": {
        "jest/globals": true
      },
      "rules": {
        "global-require": "off",
        "no-await-in-loop": "off",
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "warn",
        "@typescript-eslint/no-empty-function": "off"
      }
    }
  ]
}
